.sidebar {
  background-color: #100F10;
  color: #61dafb;
  padding: 32px;
  width: 350px;
  height: 100vh;
  box-sizing: border-box;
  color: #FFF;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar-item {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px 0;
}

.sidebar-item:hover {
  color: white;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000;
}

.modal-content {
  background-color: #000000; 
  padding: 20px;
  border-radius: 5px;
  text-align: center; 
  color: #000000;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-profile-pic-small {
  max-width: 30%; 
  max-height: 300px; 
  border-radius: 50%; 
  margin-bottom: 20px; 
}



.sidebar-profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-profile-name {

  font-family: 'Lucida Sans';
  text-align: center;
  color: white;
  font-size: 1.3em;
  font-weight: bold;

}

.sidebar-icon {
  width: 22px;
  height: 22px;
  margin-right: 13px;

}

.sidebar-profile-title {
  font-family: Josefin Sans;
  text-align: center;
  color: white;
  font-size: 0.9em;
  margin-bottom: 30px;
}